<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="favicon.ico" type="image/ico">
    <title>{{{title}}}</title>

    <link href="/vendors~main.6eef4fffb5c5e401f56e.css" rel="stylesheet" />
    <link href="/main.6eef4fffb5c5e401f56e.css" rel="stylesheet" />
</head>

<body class="h-100">
    {{{body}}}
    <script src="/vendors~main.6eef4fffb5c5e401f56e.js"></script>
</body>

</html>